body {
  width: 600px;
  padding: 7px;
}
.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.container .content .selected {
  font-size: large;
  margin-bottom: 10px;
}

.container .content .button .translate {
  margin-bottom: 10px;
  font-size: large;
}

.container .content .input {
  font-size: large;
  margin-bottom: 10px;
}

.container .content .output {
  font-size: large;
}
